@import url('../fonts/inter.css');

/**
 * Various tweaks to the Read the Docs theme to better conform with Particl's
 * visual identity. Many colors are also overridden to use CSS variables.
 * This makes it possible to provide an automatically-used theme
 * based on browser preferences.
 *
 * Attribution: docs.godotengine.org;
 */

 /* Default (light) theme colors */

 :root {
    --body-color: rgba(33,39,39,0.8);
    --heading-color: #343131;
    --content-wrap-background-color: #f7f7f7;
    --content-background-color: #fcfcfc;
    --logo-opacity: 1.0;
    --navbar-background-color: #212727;
    --navbar-background-color-hover: rgba(61, 72, 72, 0.97);
    --navbar-background-color-active: rgba(98, 27, 187, 0.22);
    --navbar-current-background-color: rgba(61, 72, 72, 0.97);
    --navbar-current-background-color-hover: rgba(61, 72, 72, 0.97);
    --navbar-current-background-color-active: rgba(61, 72, 72, 0.97);
    --navbar-level-1-color: #cfdbdb;
    --navbar-level-2-color: #c2d0d0;
    --navbar-level-3-color: #546e6e;
    --navbar-heading-color: #2bbb79;
    --link-color: #2bbb79;
    --link-color-glossary: #212727;
    --link-color-hover: #249c65;
    --link-color-active: #249c65;
    --link-color-visited: #792BBB;
    --hr-color: rgba(0, 0, 0, 0.06);
    --table-row-odd-background-color: rgba(0, 0, 0, 0.035);
    --code-background-color: #fff;
    --code-border-color: rgba(0, 0, 0, 0.015);
    --code-literal-color: rgba(121, 43, 187, 0.75);
    --input-background-color: #fcfcfc;
    --input-focus-border-color: #249c65;
    --highlight-background-color: #fff;
    --highlight-comment-color: #408090;
    --highlight-keyword-color: #007020;
    --highlight-keyword2-color: rgba(121, 43, 187, 0.75);
    --highlight-number-color: #2bbb79;
    --highlight-decorator-color: rgba(121, 43, 187, 0.75);
    --highlight-type-color: #2bbb79;
    --highlight-type2-color: #000000;
    --highlight-function-color: #1597dd;
    --highlight-operator-color: #666666;
    --highlight-string-color: #4070a0;
    --highlight-gh-color:#787878;
    --admonition-background-color: rgba(0, 0, 0, 0.035);
    --admonition-color: #212727;
    --admonition-title-background-color: #4b5959;
    --admonition-title-color: #fff;
    --admonition-note-background-color: rgba(0, 0, 0, 0.035);
    --admonition-note-color: #404040;
    --admonition-note-title-background-color: #2bbb79;
    --admonition-note-title-color: #fff;
    --admonition-hint-background-color: rgba(0, 0, 0, 0.035);
    --admonition-hint-color: #404040;
    --admonition-hint-title-background-color: #1597dd;
    --admonition-hint-title-color: #fff;
    --admonition-attention-background-color: rgba(0, 0, 0, 0.035);
    --admonition-attention-color: #404040;
    --admonition-attention-title-background-color: #f0b37e;
    --admonition-attention-title-color: #fff;
    --admonition-danger-background-color: rgba(0, 0, 0, 0.035);
    --admonition-danger-color: #404040;
    --admonition-danger-title-background-color: #E42841;
    --admonition-danger-title-color: #fff;
    --admonition-tip-background-color: rgba(0, 0, 0, 0.035);
    --admonition-tip-color: #404040;
    --admonition-tip-title-background-color: #792BBB;
    --admonition-tip-title-color: #fff;
    --admonition-seealso-background-color: rgba(0, 0, 0, 0.035);
    --admonition-seealso-color: #212727;
    --admonition-seealso-title-background-color: #4b5959;
    --admonition-seealso-title-color: #fff;
    --kbd-background-color: #fafbfc;
    --kbd-outline-color: #d1d5da;
    --kbd-shadow-color: #b0b7bf;
    --kbd-text-color: #444d56;
    --btn-neutral-background-color: #f3f6f6;
    --btn-neutral-hover-background-color: #e5ebeb;
    --footer-color: #808080;
    --rst-guilabel-border-color: rgba(0, 0, 0, 0.065);
    --rst-guilabel-background-color: rgba(0, 0, 0, 0.035);
    --bignums-number-background-color: #212727;
    --bignums-background-color: #f7f7f7;
}

/* Dark theme colors */

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: rgba(255, 255, 255, 0.65);
        --heading-color: rgba(255, 255, 255, 0.85);
        --content-wrap-background-color: #212727;
        --content-background-color: #1e2323;
        --logo-opacity: 0.85;
        --link-color-visited: #bf43fc;
        --table-row-odd-background-color: #20262d;
        --code-background-color: #212727;
        --code-border-color: #3d4144;
        --code-literal-color: #faa;
        --input-background-color: #333537;
        --input-focus-border-color: #5f8cff;
        --highlight-background-color: #202531;
        --highlight-comment-color: rgba(204, 206, 211, 0.5);
        --highlight-keyword-color: #ff7085;
        --highlight-keyword2-color: #42ffc2;
        --highlight-number-color: #a1ffe0;
        --highlight-decorator-color: #abc8ff;
        --highlight-type-color: #8effda;
        --highlight-type2-color: #c6ffed;
        --highlight-function-color: #57b3ff;
        --highlight-operator-color: #abc8ff;
        --highlight-string-color: #ffeca1;
        --highlight-gh-color:#787878;
        --admonition-background-color: #212727;
        --admonition-color: rgba(255, 255, 255, 0.65);
        --admonition-title-background-color: #2b3d4f;
        --admonition-title-color: #e2f2ff;
        --admonition-note-background-color: #212727;
        --admonition-note-color: rgba(255, 255, 255, 0.65);
        --admonition-note-title-background-color: #023c23;
        --admonition-note-title-color: #bfefff;
        --admonition-attention-background-color:  #212727;
        --admonition-attention-color: rgba(255, 255, 255, 0.65);
        --admonition-attention-title-background-color: #665022;
        --admonition-attention-title-color: #ffeeaf;
        --admonition-danger-background-color: #212727;
        --admonition-danger-color: rgba(255, 255, 255, 0.65);
        --admonition-danger-title-background-color: #633;
        --admonition-danger-title-color: #fcc;
        --admonition-tip-background-color: #212727;
        --admonition-tip-color: rgba(255, 255, 255, 0.65);
        --admonition-tip-title-background-color: #3a0977;
        --admonition-tip-title-color: #dfd;
        --admonition-hint-background-color: #212727;
        --admonition-hint-color: rgba(255, 255, 255, 0.65);
        --admonition-hint-title-background-color: rgba(21, 151, 221, 0.5);
        --admonition-hint-title-color: #daf1fc;
        --admonition-seealso-background-color: #212727;
        --admonition-seealso-color: rgba(255, 255, 255, 0.65);
        --admonition-seealso-title-background-color: #2b3d4f;
        --admonition-seealso-title-color: #e2f2ff;
        --kbd-background-color: #595b5d;
        --kbd-outline-color: #3d4144;
        --kbd-shadow-color: #1e2023;
        --kbd-text-color: #e2f2ff;
        --btn-neutral-background-color: #404040;
        --btn-neutral-hover-background-color: #505050;
        --footer-color: #aaa;
        --hr-color: rgba(255, 255, 255, 0.1);
        --rst-guilabel-border-color: #2bbb79;
        --rst-guilabel-background-color: rgba(0, 0, 0, 0.06);
        --bignums-number-background-color:#2bbb79;
        --bignums-background-color:#333537;
    }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input[type="text"],
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea,
legend,
.btn,
.rst-content .toctree-wrapper p.caption,
.rst-versions {
     font-family: 'Inter', system-ui, Arial, sans-serif;
}

@supports (font-variation-settings: normal) {
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input[type="text"],
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea,
legend,
.btn,
.rst-content .toctree-wrapper p.caption,
.rst-versions {
     font-family: 'Inter var', system-ui, Arial, sans-serif;
}
}

@media only print  {
    
}

.fa:before, .wy-menu-vertical li span.toctree-expand:before, .wy-menu-vertical li.on a span.toctree-expand:before, .wy-menu-vertical li.current>a span.toctree-expand:before, .rst-content .admonition-title:before, .rst-content h1 .headerlink:before, .rst-content h2 .headerlink:before, .rst-content h3 .headerlink:before, .rst-content h4 .headerlink:before, .rst-content h5 .headerlink:before, .rst-content h6 .headerlink:before, .rst-content dl dt .headerlink:before, .rst-content p.caption .headerlink:before, .rst-content table>caption .headerlink:before, .rst-content .code-block-caption .headerlink:before, .rst-content tt.download span:first-child:before, .rst-content code.download span:first-child:before, .icon:before, .wy-dropdown .caret:before, .wy-inline-validate.wy-inline-validate-success .wy-input-context:before, .wy-inline-validate.wy-inline-validate-danger .wy-input-context:before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before, .wy-inline-validate.wy-inline-validate-info .wy-input-context:before, .wy-alert, .rst-content .note, .rst-content .attention, .rst-content .caution, .rst-content .danger, .rst-content .error, .rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .warning, .rst-content .seealso, .rst-content .admonition-todo, .rst-content .admonition, .btn, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .wy-menu-vertical li.on a, .wy-menu-vertical li.current>a, .wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a, .wy-nav-top a {
-webkit-font-smoothing: auto;
}

.wy-side-nav-search>a.icon img.logo, .wy-side-nav-search .wy-dropdown>a.icon img.logo {
margin-top: 0;
}
.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {font-size:0;}
.wy-side-nav-search {padding-top:0;}

h1,
h2,
h3,
h4,
h5,
h6,
legend,
.rst-content .toctree-wrapper p.caption {
letter-spacing: -0.005em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
color: var(--heading-color);
}

h3 {
    font-size:110%;
}

h4 {
    font-size:95%;
}

p {
    font-size: .95rem;
    line-height: 1.66rem;
    margin-bottom: .8rem;
}

dl, ol, ul, article ul,
article ol,
.wy-plain-list-disc,
.wy-plain-list-decimal,
.rst-content ol.arabic,
.rst-content .section ul,
.rst-content .toctree-wrapper ul,
.rst-content .section ol  {
    line-height: 1.77rem;
    font-size: .95rem;
    margin-bottom: .8rem;
}

body,
.rst-content table.docutils thead {
    color: var(--body-color);
}

a {
    color: var(--link-color);
}

.sphinx-tabs .sphinx-menu a.item {
    /* Original definition has `!important` */
    color: var(--link-color) !important;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

a:active {
    /* Add visual feedback when clicking on a link */
    color: var(--link-color-active);
}

a:visited {
    /*color: var(--link-color-visited);*/
    color: var(--link-color);
}

a.btn:hover {
    text-decoration: none;
}

a span.xref {
    color:var(--body-color);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.achievement {
    font-size: 1.455em;
    letter-spacing: -0.0255rem;
    font-weight: 200;
    margin: 1.055em 0em;
    line-height: 2.1rem;
}

.bigmessage {
font-size: 1.25em;
font-weight: 200;
}

hr,
#search-results .search li:first-child,
#search-results .search li {
    border-color: var(--hr-color);
}

html.writer-html5 .rst-content table.docutils th {
    border: 1px solid var(--code-border-color);
}

/* Doesn't seem to be used on Read the Docs online builds, but is present when building locally */
.rst-content dl:not(.docutils, .simple) dt {
    background-color: var(--admonition-note-background-color);
    border-color: var(--admonition-note-title-background-color);
    color: var(--admonition-note-color);
    display: block;
    margin: 6px 0;
    background: none;
    border-top: none;
    padding: 0;
    position: relative;
    background-color: none;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6rem;
}

.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: inherit;
    background: inherit;
    color: inherit;
}

.rst-content dl dt {
    font-weight: normal;
    margin-bottom: 12px;
}

.rst-content blockquote {
    margin-left: 1.5em;
    line-height: initial;
    margin-bottom: initial;
    font-style: italic;
    width: 97%;
}

.rst-content dl p, .rst-content dl table, .rst-content dl ul, .rst-content dl ol {
    margin-bottom: .5em !important;
}

.fa-plus-square-o:before, .wy-menu-vertical li span.toctree-expand:before {
content: "\f196";
}

.fa-minus-square-o:before, .wy-menu-vertical li.current>a span.toctree-expand:before, .wy-menu-vertical li.on a span.toctree-expand:before {
content: "\f147";
}

.rst-content .guilabel, .kbd {
    border-color: var(--rst-guilabel-border-color);
    background: var(--rst-guilabel-background-color);
    font-size: 80%;
    font-weight: 500;
    border-radius: .20rem;
    padding: 3px 6px;
    margin: auto 2px;
    display: inline-block;
    line-height: initial;
    }

footer,
#search-results .context {
    color: var(--footer-color);
}

/* Main sections */

.wy-nav-content-wrap {
    background-color: var(--content-wrap-background-color);
}

.wy-nav-content {
    background-color: var(--content-background-color);
}

.wy-body-for-nav {
    background-color: var(--content-wrap-background-color);
}

@media only screen and (min-width: 769px) {
    
}

/* Table display tweaks */

.rst-content table.docutils,
.wy-table-bordered-all td,
.rst-content table.docutils td,
.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
    border-color: var(--code-border-color);
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: var(--table-row-odd-background-color);
}

/* Code display tweaks */

code,
.rst-content tt,
.rst-content code {
    font-size: 14px;
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
}

.rst-content tt.literal,
.rst-content code.literal {
    color: var(--body-color);
}

.rst-content div[class^="highlight"] {
    border-color: var(--code-border-color);
    background-color: var(--content-wrap-background-color);
}

.rst-content .bignums div[class^="highlight"], .rst-content .admonition div[class^="highlight"] {
    background-color: var(--code-background-color);
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre {
    /* Increase the font size and line height in code blocks */
    font-size: 14px;
    line-height: 1.5;
}

/* Code tab display tweaks */

.ui.tabular.menu .active.item,
.ui.segment {
    background-color: var(--code-background-color);
}

/* Syntax highlighting */

.highlight {
    background-color: var(--highlight-background-color);
}

.highlight .gh {
color: var(--highlight-gh-color);
}

.highlight .c1,
.highlight .cm {
    color: var(--highlight-comment-color);
}

.highlight .bp,
.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kt,
.highlight .ow {
    color: var(--highlight-gh-color);
}

.highlight .cp {
    color: var(--highlight-keyword2-color);
}

.highlight .m,
.highlight .mf,
.highlight .mi {
    color: var(--highlight-number-color);
}

.highlight .na {
    color: var(--highlight-decorator-color);
}

.highlight .nb {
    color: var(--highlight-type-color);
}

.highlight .nc,
.highlight .nn,
.highlight .nv {
    color: var(--highlight-type2-color);
}

.highlight .nf,
.highlight .nt {
    color: var(--highlight-function-color);
}

.highlight .o {
    color: var(--highlight-operator-color);
}

.highlight .cpf,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .se {
    color: var(--highlight-string-color);
}

/* Admonition tweaks */

.rst-content .admonition {
    background-color: var(--admonition-background-color);
    color: var(--admonition-color);
}

.rst-content .admonition .admonition-title {
    background-color: var(--admonition-title-background-color);
    color: var(--admonition-title-color);
}

.rst-content .admonition.note {
    background-color: var(--admonition-note-background-color);
    color: var(--admonition-note-color);
}

.rst-content .admonition.note .admonition-title {
    background-color: var(--admonition-note-title-background-color);
    color: var(--admonition-note-title-color);
}

.rst-content .admonition.seealso {
    background-color: var(--admonition-seealso-background-color);
    color: var(--admonition-seealso-color);
}

.rst-content .admonition.seealso .admonition-title {
    background-color: var(--admonition-seealso-title-background-color);
    color: var(--admonition-seealso-title-color);
}

.rst-content .admonition.hint {
    background-color: var(--admonition-hint-background-color);
    color: var(--admonition-hint-color);
}

.rst-content .admonition.hint .admonition-title {
    background-color: var(--admonition-hint-title-background-color);
    color: var(--admonition-hint-title-color);
}

.rst-content .admonition.attention,
.rst-content .admonition.caution,
.rst-content .admonition.warning {
    background-color: var(--admonition-attention-background-color);
    color: var(--admonition-attention-color);
}

.rst-content .admonition.attention .admonition-title,
.rst-content .admonition.caution .admonition-title,
.rst-content .admonition.warning .admonition-title {
    background-color: var(--admonition-attention-title-background-color);
    color: var(--admonition-attention-title-color);
}

.rst-content .admonition.danger {
    background-color: var(--admonition-danger-background-color);
    color: var(--admonition-danger-color);
}

.rst-content .admonition.danger .admonition-title {
    background-color: var(--admonition-danger-title-background-color);
    color: var(--admonition-danger-title-color);
}

.rst-content .admonition.tip,
.rst-content .admonition.important {
    background-color: var(--admonition-tip-background-color);
    color: var(--admonition-tip-color);
}

.rst-content .admonition.tip .admonition-title,
.rst-content .admonition.important .admonition-title {
    background-color: var(--admonition-tip-title-background-color);
    color: var(--admonition-tip-title-color);
}

/* Keyboard shortcuts tweaks
kbd, .kbd {
    background-color: var(--kbd-background-color);
    border: 1px solid var(--kbd-outline-color);
    border-radius: .20rem;
    box-shadow: inset 0 -1px 0 var(--kbd-shadow-color);
    color: var(--kbd-text-color);
    display: inline-block;
    font-size: .55rem;
    line-height: .35rem;
    padding: .25rem .35rem;
    font-weight: bold;
    vertical-align: middle;
}
*/
.kbdf {
    background-color: var(--kbd-background-color);
    border: 1px solid var(--kbd-outline-color);
    border-radius: .20rem;
    /*box-shadow: inset 0 -1px 0 var(--kbd-shadow-color);*/
    box-shadow: initial;
    color: var(--kbd-text-color);
    display: inline-block;
    font-size: .75rem;
    line-height: .35rem;
    padding: .45rem .45rem;
    font-weight: normal;
    vertical-align: middle;
    text-transform: uppercase;    
}
.kbd {
    text-transform: uppercase;
    background-color: var(--kbd-background-color);
    border: 1px solid var(--kbd-outline-color);
    position: relative;
    top: -0.02em;
    display: inline-block;
    font-family: "Inter Var" !important;
}

.kbd > * {
    border: none;
    padding: initial;
    background-color: var(--kbd-background-color);
    border-radius: initial;
    box-shadow: initial;
    font-size: 100%;
}

/* Buttons */

.btn-neutral {
    background-color: var(--btn-neutral-background-color) !important;
    color: var(--body-color) !important;
}

.btn-neutral:hover {
    background-color: var(--btn-neutral-hover-background-color) !important;
}

.btn-neutral:visited {
    color: var(--body-color) !important;
}

/* Navigation bar logo and search */

.logo {
    opacity: var(--logo-opacity);
}

.wy-side-nav-search {
    background-color: var(--navbar-background-color);
}

.wy-side-nav-search.fixed {
    position: fixed;
}

.ui.tabular.menu, .sphinx-tabs .sphinx-menu a.active.item, .ui.attached.segment {
border-color: var(--hr-color) !important;
}

.ui.segment {
padding: 2em 2em !important;
}

@media only screen and (min-width: 769px) {
    /* Simulate a drop shadow that only affects the bottom edge */
    /* This is used to indicate the search bar is fixed */
    .wy-side-nav-search.fixed::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 300px;
        height: 8px;
        pointer-events: none;
        background: linear-gradient(hsla(0, 0%, 0%, 0.2), transparent);
    }
}

.wy-side-nav-search > a:hover,
.wy-side-nav-search .wy-dropdown > a:hover {
    background-color: var(--navbar-background-color-hover);
}

.wy-side-nav-search > a:active,
.wy-side-nav-search .wy-dropdown > a:active {
    background-color: var(--navbar-background-color-active);
}

.wy-side-nav-search input[type="text"] {
    background-color: var(--input-background-color);
    color: var(--body-color);
    /* Avoid reflowing when toggling the focus state */
    border: 2px solid transparent;
    box-shadow: none;
    /* Make visual feedback instant */
    transition: none;
    font-size: 14px;
}

.wy-side-nav-search input[type="text"]:focus {
    border: 2px solid var(--input-focus-border-color);
}

.wy-side-nav-search input[type="text"]::placeholder {
    color: var(--body-color);
    opacity: 0.55;
}

/* Navigation bar */

.wy-nav-side {
    background-color: var(--navbar-background-color);
}

@media only screen and (min-width: 769px) {
    .wy-nav-side {
        /* Required to center the page on wide displays */
        left: inherit;
    }
}

.wy-menu-vertical li.current {
background: inherit;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: var(--navbar-heading-color);
    letter-spacing: -0.007em;
}

/* Mobile navigation */

.wy-nav-top,
.wy-nav-top a {
    background-color: var(--navbar-background-color);
    color: var(--navbar-level-1-color);
}

/* Version branch label below the logo */
.wy-side-nav-search > div.version {
    color: var(--navbar-level-3-color);
    opacity: 0.9;
}

/* First level of navigation items */

.wy-menu-vertical {
    /* Account for the increased `toctree-expand` button margins */
    width: 308px;
}

.wy-menu-vertical a {
    color: var(--navbar-level-1-color);
}

.wy-menu-vertical a:hover {
    background-color: var(--navbar-background-color-hover);
    color: var(--navbar-level-1-color);
    border:none;
}

.wy-menu-vertical a:active {
    background-color: var(--navbar-background-color-active);
    border:none;
}

.wy-menu-vertical li.toctree-l1.current > a {
    /*
    border-bottom: solid 1px #434343;
    border-top:none;
    */
    border:none;
}

.wy-side-nav-search, .wy-menu-vertical a, .wy-menu-vertical a span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a span.toctree-expand {
    /*color: var(--navbar-level-3-color);*/
    color: var(--link-color);
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
}

.wy-menu-vertical li ul li a {
}

.wy-side-nav-search, .wy-menu-vertical a, .wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: var(--navbar-level-2-color);
    opacity: 1;
}

.wy-side-nav-search, .wy-menu-vertical a, .wy-menu-vertical a:active span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:active span.toctree-expand {
    color: var(--navbar-level-1-color);
    opacity: 1;
}

/* Second (and higher) levels of navigation items */

.wy-menu a:hover,  .wy-menu a {
text-decoration: none !important;
}

.wy-menu-vertical li.current a, .wy-menu-vertical li.current>a, .wy-menu-vertical li.toctree-l2.current>a   {
    /* Make long words always display on a single line, keep wrapping for multiple words */
    /* This fixes the class reference titles' display with very long class names */
    display: flex;
    padding: .4045em .7em .4045em 2em;
    letter-spacing: -.01em;
}

.wy-menu-vertical li span.toctree-expand {
margin-left: -1.16em;
padding-right: .55em;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    padding: .4045em 1.618em
}

.wy-menu-vertical li.on a:hover span.toctree-expand, .wy-menu-vertical li.current>a:hover span.toctree-expand, .wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand {
color: var(--link-color);
}

.wy-menu-vertical li.current a,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l4 > a {
    background-color: var(--navbar-current-background-color);
    color: var(--navbar-level-2-color);
    border-color: var(--navbar-current-background-color);
    border:none;
}

.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
    background-color: var(--navbar-current-background-color-hover);
}

.wy-menu-vertical li.current a:active,
.wy-menu-vertical li.toctree-l2.current > a:active,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:active,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:active {
    background-color: var(--navbar-current-background-color-active);
}

.wy-menu-vertical li.current a, .wy-menu-vertical li a {
font-weight: normal;
font-size: 95%;
letter-spacing: initial;
line-height: 1.255em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
padding: .4045em 2.65em;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a, .wy-menu-vertical li.toctree-l4.current>a {
padding: .4045em 3.2em;
}

/* Version selector (only visible on Read the Docs) */

.rst-versions {
    background-color: var(--navbar-current-background-color);
}

@media only screen and (min-width: 769px) {
    .rst-versions {
        /* Required to center the page on wide displays */
        left: inherit;
    }
}

.rst-versions a,
.rst-versions .rst-current-version,
.rst-versions .rst-current-version .fa,
.rst-versions .rst-other-versions dd a {
    color: var(--navbar-level-1-color);
}

.rst-versions .rst-other-versions small {
    color: var(--navbar-level-3-color);
}

.rst-versions .rst-other-versions dd a:hover {
    text-decoration: underline;
}

.rst-versions .rst-other-versions {
    color: var(--navbar-heading-color);
}

.rst-versions .rst-current-version {
    background-color: var(--navbar-current-background-color);
}

.rst-versions .rst-current-version:hover {
    background-color: var(--navbar-current-background-color-hover);
}

.rst-versions .rst-current-version:active {
    background-color: var(--navbar-current-background-color-active);
}

/* Hide the obnoxious automatic highlight in search results */
.rst-content .highlighted {
    background-color: transparent;
    padding: 0;
}
.toggle.container {
    border-color: var(--code-border-color) !important;
    border: 1px solid;
    margin-bottom: .75em;
    padding: .25em .75em .15em 1.65em;
    border-radius: .15em;
    background-color: var(--content-wrap-background-color);
}

.toggle .header {
    display: inline-block;
    clear: both;
    padding: .25em .25em .25em .0em;
    margin-bottom: .25em;
    margin-left: -1em;
}

.toggle .header.open {
    margin-bottom: .75em;
}

.toggle .header > p {
    display: inline;
    font-size: 1.155em;
    font-weight: normal !important;
}
.toggle .header > p strong, .toggle .header > strong  {
    font-weight: 300;
    font-size: 1rem;
}  

.toggle .header:before {
    font-family: "FontAwesome"; 
    font-weight: 900;
    content: "\f138";
    color:var(--navbar-heading-color);
    padding: .25em .25em .0em .0em;
}

.toggle .header.open:before {
    font-family: "FontAwesome"; 
    font-weight: 900;
    content: "\f13a";
    color:var(--navbar-heading-color);
    padding: .25em .25em .0em .0em;
}

.bignums, .bignums-hint, .bignums-note, .bignums-caution, .bignums-warning, .bignums-attention, .bignums-important, .bignums-seealso, .bignums-tip, .bignums-danger, .bignums-error, .bignums-xxl {
padding: 0;
counter-reset: li-counter;
}

.bignums>li, .bignums-hint>li, .bignums-note>li, .bignums-caution>li, .bignums-warning>li, .bignums-attention>li, .bignums-important>li, .bignums-seealso>li, .bignums-tip>li, .bignums-danger>li, .bignums-error>li, .bignums-xxl>li {
position: relative;
padding: .55rem;
padding-left: 3.875rem;
padding-top: .975rem;
background-color: var(--bignums-background-color);
min-height: 3.575rem;
border-radius: .25rem;
list-style: none !important;
margin-left: 0px !important;
margin-bottom: 1em;
}

.bignums-xxl>li {
padding: 0;
padding-left: 3.75rem;
padding-top: .375rem;
background-color: transparent;
min-height: 3rem;
}

.bignums>li:before, .bignums-hint>li:before, .bignums-note>li:before, .bignums-caution>li:before, .bignums-warning>li:before, .bignums-attention>li:before, .bignums-important>li:before, .bignums-seealso>li:before, .bignums-tip>li:before, .bignums-danger>li:before, .bignums-error>li:before, .bignums-xxl>li:before {
font-size: 1.10rem;
display: block;
position: absolute;
top: .7rem;
left: 1rem;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
background-color: var(--bignums-number-background-color);
color: #fff;
border-radius: 50%;
content: counter(li-counter, decimal);
counter-increment: li-counter;
font-weight: 600;
}

.bignums-xxl>li:before {
font-size: 1.5rem;
top: 0;
left: 0;
}

.rst-content .section ol p, .rst-content .section ul p, .rst-content dl dd {
margin:0;
}

.rst-content dl:not(.docutils) {
margin-bottom: .25em;
}

.rst-content dl dd .admonition {
padding: 0 0 0 0;
}

.rst-content dl dd .admonition > *:not(.admonition-title) {
padding: .0em 0em .75em .75em;
}

.rst-content li blockquote {
    margin-left:0;
}

#glossary dt {
    font-size: 1.1rem;
    font-weight: 500;
    color:var(--link-color);
}
